.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 25px;
  background: #e6f5fb;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 60, 90, 0.2);
}

.input-box {
  width: 80%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #007b9e;
  border-radius: 6px;
  outline: none;
}

.btn-buscar {
  margin-top: 10px;
  padding: 10px 25px;
  background-color: #007b9e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-buscar:hover {
  background-color: #005f7a;
}

.tabla-ovalada {
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff;
}

/* Centrar columnas importantes */
td.mat-column-ciudad, th.mat-column-ciudad,
td.mat-column-enfermedad, th.mat-column-enfermedad,
td.mat-column-fechaReporte, th.mat-column-fechaReporte {
  text-align: center;
}
