<mat-toolbar class="custom-toolbar">
  <div>
    <button mat-button [matMenuTriggerFor]="menuUsuario" class="btn-verde">
      <mat-icon>account_circle</mat-icon>
      Usuarios
    </button>
    <button mat-button [matMenuTriggerFor]="menuForo" class="btn-verde">
      <mat-icon>forum</mat-icon>
      Foros
    </button>
    <button mat-button [matMenuTriggerFor]="menuComentarioForo" class="btn-verde">
      <mat-icon>comment</mat-icon>
      Comentarios
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuUsuario="matMenu" class="menu-verde">
  <button mat-menu-item routerLink="/usuarios" class="item-verde">
    <mat-icon>list</mat-icon>
    <span>Listar</span>
  </button>
  <button mat-menu-item routerLink="/usuarios/formulario" class="item-verde">
    <mat-icon>how_to_reg</mat-icon>
    <span>Registrar</span>
  </button>
  <button mat-menu-item routerLink="/usuarios/busquedasproveedor" class="item-verde">
    <mat-icon>search</mat-icon>
    <span>Buscar por proveedor</span>
  </button>
</mat-menu>

<mat-menu #menuForo="matMenu" class="menu-verde">
  <button mat-menu-item routerLink="/Foros" class="item-verde">
    <mat-icon>list</mat-icon>
    <span>Listar Foros</span>
  </button>
  <button mat-menu-item routerLink="/Foros/formularioforo" class="item-verde">
    <mat-icon>how_to_reg</mat-icon>
    <span>Registrar Foros</span>
  </button>
</mat-menu>

<mat-menu #menuComentarioForo="matMenu" class="menu-verde">
  <button mat-menu-item routerLink="/Comentarios" class="item-verde">
    <mat-icon>list</mat-icon>
    <span>Listar Comentarios de Foro</span>
  </button>
  <button mat-menu-item routerLink="/Comentarios/formulariocomentario" class="item-verde">
    <mat-icon>how_to_reg</mat-icon>
    <span>Registrar Comentario</span>
  </button>
  <button mat-menu-item routerLink="/Comentarios/busquedatituloforo" class="item-verde">
    <mat-icon>search</mat-icon>
    <span>Registrar Comentario</span>
  </button>
</mat-menu> 