<div class="container">
  <div style="text-align: center;margin: 5%;">
    <h1> Buscar Por TItulo </h1>
  </div>

  <div>
    <div class="record-count">
      Total de Comentarios: {{ dataSource.data.length }}  
    </div>

  <div>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="foro" placeholder="Ingrese el título del foro">
      </mat-form-field>
    </form>
  </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
  <!-- ID Column -->
  <ng-container matColumnDef="c1">
    <th mat-header-cell *matHeaderCellDef> Codigo </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="c2">
    <th mat-header-cell *matHeaderCellDef> Contenido </th>
    <td mat-cell *matCellDef="let element"> {{element.contenido}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="c3">
    <th mat-header-cell *matHeaderCellDef> Fecha del Comentario </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaComentario|date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="c4">
    <th mat-header-cell *matHeaderCellDef> Titulo de Foro </th>
    <td mat-cell *matCellDef="let element"> {{element.forums.titulo}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="c5">
    <th mat-header-cell *matHeaderCellDef> Foro </th>
    <td mat-cell *matCellDef="let element"> {{element.forums.idforum}} </td>
  </ng-container>

  <!-- User Column -->
  <ng-container matColumnDef="c6">
    <th mat-header-cell *matHeaderCellDef> Usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.users.idUsers}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


  </div>
</div>
